* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
    background-color: #f8f8f8; 
    line-height: 1.6;
    margin: 0; 
}

.container {
    /* max-width: 1200px; */
    width: 100%;
    margin: 0 auto;
    padding: 0 30px;
    box-sizing: border-box;
}

.main-content {
    padding-top: 60px; 
}

.goback-link {
    display: inline-block;
    padding: 10px 20px;
    background-color: #333; 
    color: #fff; 
    text-decoration: none;
    border-radius: 5px;
    font-size: 16px;
    font-weight: bold;
    border: 2px solid #333; 
    transition: background-color 0.3s, color 0.3s, transform 0.3s;
}

.goback-link:hover {
    background-color: #000; 
    color: #fff; 
    transform: translateY(-2px); 
}

.contact-section {
    background-color: rgb(59, 59, 152); 
    padding: 40px 0;
    text-align: center;
}
/* .cont{
    margin-top: 50px;
} */

.contact-section h1 {
    margin-bottom: 20px;
    color: black;
}

.contact-form {
    max-width: 600px;
    margin: 0 auto;
    background-color: white;
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.contact-form label {
    display: block;
    margin-bottom: 10px;
    color: black; 
}

.contact-form input,
.contact-form textarea {
    width: 100%;
    padding: 10px;
    margin-bottom: 15px;
    border: 1px solid #ccc;
    border-radius: 4px;
}

.contact-form button {
    background-color: #333;
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    font-size: 16px;
}

.contact-form button:hover {
    background-color: #555;
}

.contact-info {
    background-color: rgb(59, 59, 152); 
    padding: 40px 0;
    text-align: center;
}

.contact-info h2 {
    margin-bottom: 20px;
    color: black;
}

.contact-info ul {
    list-style-type: none;
    margin-bottom: 20px;
}

.contact-info ul li {
    margin-bottom: 10px;
    color: black;
}

.social-links {
    display: flex;
    justify-content: center;
    /* text-align: left; */
    padding-left: 10px;
}

.social-links .social-link {
    display: inline-block;
    margin: 0 10px;
    color: black; 
    text-decoration: none;
    text-align: center;

}

.footer {
    background-color:black;
    color: #D4AF37; 
    text-align: center;
    padding: 20px 0;
    position: relative;
    bottom: 0;
    width: 100%;
}

.footer a {
    color: #D4AF37;
    text-decoration: none;
    transition: color 0.3s ease;
}

.footer a:hover {
    color: rgb(59, 59, 152);
}
